<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pkginfo</key>
    <dict>
        <key>catalogs</key>
        <array>
            <string>testing</string>
        </array>
        <key>unattended_install</key>
        <false/>
    </dict>
</dict>
</plist>
